<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/stylelogin.css" %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static "css/coverlogin.css" %}">
    <title>
    </title>
    <style media="screen">
      html {
        height: 100%;
      }
      body {
        min-height: 100%;
      }
    </style>
  </head>
  <body style="box-shadow: inset 0 0 5rem rgba(0, 0, 0, .9);">
    <header class="p-3">
      <div class="inner">
        <h3 class="masthead-brand"><img src="{% static "images/sjec-full-logo.png" %}" style="width:2.6em;height:2em;" alt="">CSE Library</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-item nav-link " href="{% url 'index' %}">Home</a>
          <a class="nav-item nav-link" href="{% url 'mainapp:viewAllPage' %}">View Books</a>
          <a class="nav-item nav-link" href="{% url 'mainapp:LogInPage' %}">Log In</a>
          <a class="nav-item nav-link" href="{% url 'mainapp:SignUpPage' %}">Sign Up</a>
          <a style="margin-left: 1rem;" class="nav-item nav-link  active" href="{% url 'mainapp:ContactPage' %}">Contact</a>
        </nav>
      </div>
    </header>
  </body>
</html>
