<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/stylelogin.css" %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static "css/coverlogin.css" %}">
    <title>
    </title>
    <style media="screen">
      html {
        height: 100%;
      }
      body {
        min-height: 100%;
      }
      .center {
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
    </style>
  </head>
  <body style="box-shadow: inset 0 0 5rem rgba(0, 0, 0, .9);    background: linear-gradient(45deg, #2f2533 0%, #000000 100%);">
    <header class="p-3">
      <div class="inner">
        <h3 class="masthead-brand"><img src="{% static "images/sjec-full-logo.png" %}" style="width:2.6em;height:2em;" alt="">CSE Library</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-item nav-link " href="{% url 'index' %}">Home</a>
          <a class="nav-item nav-link" href="{% url 'mainapp:viewAllPage' %}">View Books</a>
          <a class="nav-item nav-link" href="{% url 'mainapp:LogInPage' %}">Log In</a>
          <a class="nav-item nav-link" href="{% url 'mainapp:SignUpPage' %}">Sign Up</a>
          <a style="margin-left: 1rem;" class="nav-item nav-link  active" href="{% url 'mainapp:ContactPage' %}">Contact</a>
        </nav>
      </div>
    </header>
    <div class="card center" style="width: 18rem;background-color:#333333;">
      <div class="card-body">
        <h5 class="card-title">Winston Sebastian Pais</h5>
        <h6 class="card-subtitle mb-2 text-muted">Website Developer</h6>
        <h6 class="card-subtitle mb-2 text-muted">17cs124.winston@sjec.ac.in</h6>
        <p class="card-text">To report an issue go to the below link</p>
        <a href="https://github.com/WinstonPais/CSDepartmentLib/issues" class="card-link">Issues (github)</a>
      </div>
    </div>
  </body>
</html>
