<!DOCTYPE html>
{% load static %}
{% load my_extras %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Welcome</title>
    <link rel="stylesheet" href="{% static "css/cover.css" %}">
    <style media="screen">
      html {height:100%}
      body {min-height:100%}
      .customcard {color:white;}
      .blueshadow {box-shadow: inset 0 0 1rem rgba(11, 157, 219, .85);}
      .blackshadow {box-shadow: inset 0 0 1rem rgba(0, 0, 0, .85);}
      .masthead {
    margin-bottom: 2rem;
  }


    </style>
  </head>
  <body class="text-center" style="box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);background: linear-gradient(45deg, #2f2533 0%, #000000 100%);">
    <div class="d-flex w-100 h-100 mx-auto flex-column">
    <header class="p-3">
      <div class="inner">
        <h3 class="masthead-brand"><img src="{% static "images/sjec-full-logo.png" %}" style="width:2.6em;height:2em;" alt="">CSE Library</h3>
        <nav class="nav nav-masthead justify-content-center">

          <a class="nav-item nav-link active" href="{% url 'mainapp:mybooksPage' %}">My Books</a>
          <a class="nav-item nav-link" href="{% url 'mainapp:userselectPage' %}">View Books</a>
          <a class="nav-item nav-link" href="{% url 'logout' %}">Log Out</a>
          <!-- <a class="nav-item nav-link" href="{% url 'mainapp:SignUpPage' %}">Sign Up</a>
          <a style="margin-left: 1rem;" class="nav-item nav-link" href="{% url 'mainapp:ContactPage' %}">Contact</a>-->
        </nav>
      </div>
    </header>
    <div class="container">
      {% if messages %}
          {% for message in messages %}
            {% if message.tags == 'success' %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% else %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      <div style="padding-top: 2em;padding-bottom: 2em;" class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2">
        {% for book in books %}
          <div class="col mb-3 customcard" style="padding-bottom: 1em;">
            <div class="card" style="background-color:#141414;border: 1px solid white;" >
              <div class="card-body" style="box-shadow: inset 0 0 1rem rgba(61, 209, 61, .85);">
                <h5 class="card-title">{{ book.AccesssionNumber.Title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ book.AccesssionNumber.Author }}</h6>
                <p><strong>Lent on: </strong>{{ book.Lent_on }}</p>
                <p><strong>Accesssion Number: </strong>{{ book.AccesssionNumber.AccesssionNumber }}</p>
                <p><strong>Status: </strong>{{ book.status }}</p>
                {% if book.status|st == "Pending" %}
                  <div class="row" style="padding-top: .75em;">
                    <div class="mx-auto" >
                      <form action="{% url 'mainapp:delPage' pk=book.AccesssionNumber.AccesssionNumber %}" method="post">
                        {% csrf_token %}
                        <input type="submit" onclick="return confirm('Are you sure to Cancel Booking?')" class="btn btn-danger" value="Cancel">
                      </form>
                    </div>
                  </div>
                {% else %}
                  <div class="row" style="padding-top: .75em;">
                    <div class="mx-auto" >
                      <button type="button" class="btn btn-success disabled">Confirmed!!</button>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>



</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
